{% extends 'base.html' %}

{% block head %}
<title>Flipkart comment scraper</title>
{% endblock %}

{% block body %}
<h2 style="text-align: center;"> Reviews of mobiles</h2>
<h4 style="text-align: center;"> This app will help you find reviews for various products of a same model smart phone</h4>
<h5 style="text-align: center;">(Limited number of comments will be displayed)</h5>
    <div class="content">
            <form class="content1" action="/comments" method="POST">
                <input class="textbox1" type="text" name="phone_name" id="phone_name" placeholder="Enter name of the phone">
                </br>
                </br>
                <button class="button1">Search comments</button>
            </form>
    </div>
    {% endblock %}